# Thesis directory
# thesis/
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.lof
*.lot

# Virtual environment
.venv/

# VS Code settings
.vscode/

# Binary files
bin/

# Compiled C++ files
*.o

# Gnuplot output
gnuplot/

# Results directory
# results/

# Logs directory
logs/